<section id="hero" class="d-flex align-items-center" style="background: url(../../assets/img/404.jpeg) top center no-repeat">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-4">
                <h1>Lost Your Way?</h1>
                <h2>Sorry, we can't find that page.You'll find loads to explore on the home page </h2>
                <br>
                <a (click)="redirect()" class="btn-watch">Netflix Home</a>
            </div>
        </div>
    </div>
</section>