.container-fluid {
    background-color: rgb(27, 27, 27);
  }
  
  .header {
    text-align: center;
    // background-color: aqua;
  }
  .title {
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-top: 20px;
    text-align: center;
  }
  .subtitle {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    padding: 20px 30px 20px 20px;
    line-height: 30px;
    text-align: center;
  }
  .row_title{
    color: #fff;
    font-size: 28px;
    font-weight: 500;
  }
  
  .wrapper {
    overflow-x: auto;
  }
  
  .wrapper::-webkit-scrollbar {
    width: 0;
  }
  
  h1,
  p {
    text-align: center;
  }
  
  p {
    width: 100%;
    max-width: 500px;
    margin: auto;
  }

  a:link,
  a:hover,
  a:active,
  a:visited {
    transition: color 150ms;
    color: #95a5a6;
    text-decoration: none;
  }

  a:hover {
    color: #7f8c8d;
    text-decoration: underline;
  }

  .contain {
    width: 100%;
  }

  .row {
    overflow-x: hidden !important;
    width: 100%;
  }

  .row__inner {
    transition:  transform 450ms;
    font-size: 0;
    white-space: nowrap;
    margin: 60px 0px;
    // padding-bottom: 10px;
  }

  .tile {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 140.625px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
  }
  
  .tile h3{
    color:#fff;
    text-align: center;
    font-size: 20px;
  }

  .tile__img {
    width: 250px;
    height: 140.625px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .tile__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 10px;
    opacity: 0;
    background: linear-gradient(to top, rgba(0,0,0,1) 8%, rgba(0,0,0,0) 100%);
    transition: 450ms opacity;
  }
  
  .tile__details:after,
  .tile__details:before {
    // content: '	\025B6';
    position: absolute;
    top: 50%;
    left: 50%;
    display: #000;
  }
  .tile__details:after {
    margin-top: -25px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    border: 3px solid #ffffff;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
  }
  .tile__details:before {
    // content: '';
    left: 0;
    width: 100%;
    font-size: 30px;
    margin-left: 7px;
    margin-top: -18px;
    text-align: center;
    z-index: 2;
  }
  .tile:hover .tile__details {
    opacity: 1;
  }
  .tile__title {
    position: absolute;
    bottom: 0;
    padding: 10px;
    color: #fff;
    font-size: 14px;
  }
  .tile__title a:hover{
    color:#ff0000;
   }
  .row__inner:hover {
    transform: translate3d(-2.5px, 0px, 0);
  }
    // .row__inner:hover .tile {
    //   // opacity: 0.3;
    // }
  .row__inner:hover .tile:hover {
    transform: scale(1.5);
    opacity: 1;
  }
  
  .tile__details .icon{
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 42%;
    display: #000;
  }
  
  .tile__details .icon:hover{
    color: #ff0000;
  }
  .tile__details .controls{
    color:#fff;
    font-size: 20px;
    float: inline-end;
  }
  
  .tile__details .controls a{
    padding-left: 20px;
  }
  
  .tile__details .controls  a:hover{
    color:#ff0000;
  }
  
  .material-icons {
    font-size: 16px !important;
    padding-bottom: 0;
  }