h2 {
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	display: inline-block;
	margin: 40px 8px 10px 8px;
	color: #ffffff;
}


/* STRUCTURE */

.wrapper {
	// background: #000;
	background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0,0,0, .6)), url(../../assets/img/background.jpg);
	// background-image: url("../../assets/images/background.jpg");
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-height: 100%;
	padding: 20px;
}

#formContent {
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 4px;
	background: #00000098;
	padding: 30px;
	width: 90%;
	max-width: 450px;
	position: relative;
	padding: 0px;
	// box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	// box-shadow: 0 30px 60px 0 #ee4d3044;
	text-align: center;
}

// #formFooter {
// 	background: #00000098;
// 	// border-top: 1px solid #dce8f1;
// 	padding: 25px;
// 	text-align: center;
// 	-webkit-border-radius: 0 0 10px 10px;
// 	border-radius: 0 0 10px 10px;
// }

// #formFooter .foot,span {
// 	color:#8d8d8d;
// }

// #formFooter .boldHover{
// 	color: #fff;
// }
// #formFooter .foot:hover,
// #formFooter .boldHover:hover{
// 	text-decoration: underline;
// }
h2.inactive {
	color: #cccccc;
}

h2.active {
	color: #0d0d0d;
	border-bottom: 2px solid #d42e11;
}

.invalid-feedback {
	color: rgb(255, 0, 0);
	font-size: 16px;
	font-weight: 400;
}

.login__btn {
	border-color: transparent;
	background-color: red;
	color: rgb(255, 255, 255);
	padding: 10px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	border-radius: 5px 5px 5px 5px;
	margin: 5px 20px 40px 20px;
	transition: all 0.3s ease-in-out;
}

.manage__btn{
	border-color: white;
	background-color: transparent;
	color: rgb(255, 255, 255);
	padding: 10px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	border-radius: 4px;
	margin: 5px 20px 40px 20px;
	transition: all 0.3s ease-in-out;
}
.manage__btn:hover{
	// border-color: red;
	background-color: #fff;
	color: rgb(0, 0, 0);
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
	-moz-transform: scale(0.95);
	-webkit-transform: scale(0.95);
	-o-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
}

input[type=email],
[type=password] {
	background-color: #f6f6f6;
	border: none;
	color: #0d0d0d;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 5px;
	width: 85%;
	border: 2px solid #f6f6f6;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

/*keep it separate*/
input[type=email]:focus {
	background-color: #fff;
	border-bottom: 2px solid #e96b56;
}

input[type=password]:focus {
	background-color: #fff;
	border-bottom: 2px solid #e96b56;
}

input[type=email],
[type=password]:placeholder {
	color: #cccccc;
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: 0.5s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

*:focus {
	outline: none;
}

#icon {
	margin-top: 30px;
	margin-bottom: 40px;
	width: 70px;
	height: 70px;
}



.example-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
}

.example-full-width {
	width: 100%;
}