<div class="container-fluid m-0 a-0 footer">
    <div class="container">
        <div class="row" style="margin-top: 30px;">
            <h4>Questions? Call 000-800-040-1843</h4>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <a>FAQ</a>
                <a>Investor Relations</a>
                <a>Privacy</a>
                <a href="https://fast.com/" target="_blank">Speed Test</a>
            </div>

        <div class="col-md-3 col-sm-4">
            <a>Help Centre</a>
            <a>Jobs</a>
            <a>Cookie Preferences</a>
            <a>Legal Notices</a>
        </div>

        <div class="col-md-3 col-sm-4">
            <a [routerLink]="['/account']">Account</a>
            <a>Ways to Watch</a>
            <a>Corporate Information</a>
            <a>Only on Netflix</a>
        </div>

        <div class="col-md-3 col-sm-4">
            <a>Media Centre</a>
            <a>Terms of Use</a>
            <a>Contact Us</a>
        </div>
    </div>
    <div class="row">
        <a>Netflix India</a>
    </div>
    </div>
       
</div>


