<h2 mat-dialog-title>Change Password</h2>
<div mat-dialog-content>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="password">Password :</label>
      <input type="password" id="password" formControlName="password">
      <div *ngIf="changePasswordForm.controls['password'].errors?.['required']" class="error-message">
        Password is required.
      </div>
      <div *ngIf="changePasswordForm.controls['password'].errors?.['invalidPassword']" class="error-message">
        Wrong password.
      </div>
    </div>
    <div class="form-group">
      <label for="newPassword">New Password :</label>
      <input type="password" id="newPassword" formControlName="newPassword">
      <div *ngIf="changePasswordForm.controls['newPassword'].errors?.['required']" class="error-message">
        New password is required.
      </div>
      <div *ngIf="changePasswordForm.errors?.['oldPAndNewPMatch']" class="error-message">
        New password cannot be same as old password.
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password :</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword">
      <div *ngIf="changePasswordForm.controls['confirmPassword'].errors?.['required']" class="error-message">
        Confirm password is required.
      </div>
      <div *ngIf="changePasswordForm.errors?.['passwordMismatch']" class="error-message">
        Passwords do not match.
      </div>
    </div>
    <div *ngIf="changePasswordForm.controls['newPassword'].errors?.['invalidPassword']" class="error-message">
      *Password must be minimum 8 characters long and must include one special character,one uppercase letter and one
      number
    </div>
  </form>

</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button [disabled]="changePasswordForm.invalid" (click)="onSubmit()" color="primary">change
    password</button>
</div>